<h1>Welcome to CMS Rails!</h1>
<p class="lead">Use this document as a way to quickly start any new CMS Rails project.<br> 
Many essential features are installed including Devise Auth, CMS , Notifications, Announcements<br />
and much more.</p>
